<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637004713604-rp5nlmdos25erlem41qp2r4ordnjvpu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637004713604-rp5nlmdos25erlem41qp2r4ordnjvpu7</string>
	<key>API_KEY</key>
	<string>AIzaSyCLXlPLXIBb8kWRpycRBdU8rE8GCgrDpLY</string>
	<key>GCM_SENDER_ID</key>
	<string>637004713604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timotiustech.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-timo-project</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-timo-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637004713604:ios:c437929c3ccd9cf1ea7cd1</string>
</dict>
</plist>